# ➥ Feature Construction

In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv('train.csv')
titanic.head()
titanic = titanic[['Survived','SibSp','Parch']]
titanic

     Survived  SibSp  Parch
0           0      1      0
1           1      1      0
2           1      0      0
3           1      1      0
4           0      0      0
..        ...    ...    ...
886         0      0      0
887         1      0      0
888         0      1      2
889         1      0      0
890         0      0      0

[891 rows x 3 columns]

In [3]:
titanic['Family_size'] = titanic['SibSp'] + titanic['Parch']

def myfunc(num):
    if num == 0:
        return 0
    elif num <= 4:
        return 1
    else:
        return 2
titanic['Family_type'] = titanic['Family_size'].apply(myfunc)

In [4]:
titanic.drop(['SibSp','Parch'],inplace=True,axis=1)

In [5]:
titanic

     Survived  Family_size  Family_type
0           0            1            1
1           1            1            1
2           1            0            0
3           1            1            1
4           0            0            0
..        ...          ...          ...
886         0            0            0
887         1            0            0
888         0            3            1
889         1            0            0
890         0            0            0

[891 rows x 3 columns]